[init]
	defaultBranch = main
[user]
	name = David Bader
[include]
    path = .git-user
[core]
    autocrlf = true
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
[diff]
	algorithm = histogram
	submodule = log
	tool = vimdiff
    colorMoved = default
[merge]
	tool = vimdiff
    conflictstyle = diff3
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[pull]
	ff = only
[rebase]
	autostash = true
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lga = lg --all
	lgd = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lgda = lgd --all
	ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --numstat
    lla = ll --all
    unstage = restore --staged
    s = status -s
    d = diff
    ds = diff --staged
[http]
	sslBackend = schannel
